@page "{id:int}"
@model BasketbalAPP.Pages.DetailsModel
@using Logic 
@{
    ViewData["Title"] = "Details";
}

<h1>Details Page</h1>

<table class="table">
    <tr>
        <td>Player Id : @Html.DisplayFor(model => model.DisplayPlayer.Id)</td>
    </tr>
    <tr>
        <td>First Name : @Html.DisplayFor(model => model.DisplayPlayer.FirstName)</td>
    </tr>
    <tr>
        <td>Last Name : @Html.DisplayFor(model => model.DisplayPlayer.LastName)</td>
    </tr>
    <tr>
        <td>Active Team : @Html.DisplayFor(model => model.DisplayPlayer.ActiveTeam)</td>
    </tr>
    <tr>
        <td>Games : @Html.DisplayFor(model => model.DisplayPlayer.Games)</td>
    </tr>
    <tr>
        <td>Points : @Html.DisplayFor(model => model.DisplayPlayer.Points)</td>
    </tr>
    <tr>
        <td>Rebounds : @Html.DisplayFor(model => model.DisplayPlayer.Rebounds)</td>
    </tr>
    <tr>
        <td>Assists : @Html.DisplayFor(model => model.DisplayPlayer.Assists)</td>
    </tr>
    <tr>
        <td>Blocks : @Html.DisplayFor(model => model.DisplayPlayer.Blocks)</td>
    </tr>
</table>
<a asp-page="/Players">Back to List</a>
