@page
@model BasketbalAPP.Pages.PlayersModel
@{
    ViewData["Title"] = "Players";
}


<div class="text-center">
    <h1>Players</h1>
    <a asp-page="CRUDplayers/Create">Create New</a>
    <hr />
    <table class="table">
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Active Team</th>
        </tr>
        @foreach (var player in Model.GetPlayers)
        {
            <tr>
                <td>@player.IdPlayer</td>
                <td>@player.FirstName</td>
                <td>@player.LastName</td>
                <td>@player.ActiveTeam</td>
                <td>
                    <a asp-page="CRUDplayers/Update" asp-route-Id="@player.IdPlayer">Edit</a>
                    <a asp-page="CRUDplayers/Read" asp-route-Id="@player.IdPlayer">Read</a>
                    <a asp-page="CRUDplayers/Delete" asp-route-Id="@player.IdPlayer">Delete</a>
                    <a asp-page="CRUDinTeam/AddToTeam" asp-route-Id="@player.IdPlayer">Add</a>
                </td>
            </tr>
        }
    </table>
</div>
