@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Players</h1>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Active Team</th>
                <th scope="col">Games played</th>
                <th scope="col">Points</th>
                <th scope="col">Rebounds</th>
                <th scope="col">Assists</th>
                <th scope="col">Blocks</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.Players)
            {
            <tr>
                <td>@player.Id</td>
                <td>@player.FirstName</td>
                <td>@player.LastName</td>
                <td>@player.ActiveTeam</td>
                <td>@player.Games</td>
                <td>@player.Points</td>
                <td>@player.Rebounds</td>
                <td>@player.Assists</td>
                <td>@player.Blocks</td>
            </tr>
            }
        </tbody>
    </table>
</div>
